footer {
  background: var(--secondaryThemeColor);
  height: 15vw;
}

footer p {
  color: var(--mainColor);
}

footer a {
  color: var(--secondaryColor);
  transition: .5s;
}

footer a:hover {
  color: var(--themeColor);
}

#footer-container {
  padding: 1%;
}