footer {
  background: var(--secondaryThemeColor);
  height: 15vw;
  margin-top: 10%;
}

footer p {
  color: var(--mainColor);
}

footer a {
  color: var(--secondaryColor);
  transition: .5s;
}

footer a:hover {
  color: var(--themeColor);
}

#footer-container {
  padding: 1%;
}

@media (max-width: 820px) {
  footer {
    height: 34vw;
  }
}
