:root {
  --mainColor: white;
  --secondaryColor: #0B510A;
  --tertiaryColor: #b8b8b8;
  --themeColor: #009f00; /* rgba(1, 141, 1, 1) */
}

html, body {
  padding: 0;
  margin: auto;
  scroll-behavior: smooth;
  font-family: Poppins,"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  font-size: 5.6vw;
}

h2 {
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  font-size: 3.8vw;
}

h3 {
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  font-size: 2.7vw;
}

p {
  font-size: 1.5vw;
}

.highlighted {
  background-color: rgba(1, 141, 1, .65);
}

.greeting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#greeting-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.greeting-text {
  text-align: center;
  z-index: 2;
  position: absolute!important;
  top: 55%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  margin: 0!important;
  color: var(--mainColor);
}

.who-are-we-section {
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

#who-we-are-container {
  padding: 5%;
  width: 90%;
  height: 90%;
}

#who-we-are-container h2, h3, p {
  text-align: center;
  color: var(--secondaryColor);
}

#who-we-are-container > p {
  padding-left: 7%;
  padding-right: 7%;
}

.picture-and-text-div {
  padding: 5%;
  width: 90%;
  height: 50%;
}

.who-are-we-section .image-div {
  float: left;
  width: 47%;
}

.who-are-we-section .text-and-button-div {
  float: right;
  width: 47%;
}

.text-and-button-div .text-div {
  padding-bottom: 4%;
}

.take-action-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#take-action-container h2, h3, p {
  text-align: center;
  color: var(--secondaryColor);
}

#take-action-container {
  padding: 5%;
  width: 90%;
  height: 90%;
}

#take-action-container .picture-and-text-div {
  padding-top: 0;
}

.take-action-section .image-div {
  float: right;
  width: 47%;
}

.take-action-section .text-and-button-div {
  float: left;
  width: 47%;
}

.newsletter-section {}