:root {
  --mainColor: white;
  --secondaryColor: #202020;
  --tertiaryColor: #b8b8b8;
  --themeColor: #009f00; /* rgba(1, 141, 1, 1) */
}

html, body {
  padding: 0;
  margin: auto;
  scroll-behavior: smooth;
  font-family: Poppins,"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  font-size: 13vh;
}

.highlighted {
  background-color: rgba(1, 141, 1, .65);
}

.greeting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#greeting-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.greeting-text {
  text-align: center;
  z-index: 2;
  position: absolute!important;
  top: 55%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  margin: 0!important;
  color: var(--mainColor);
}

.who-are-we-section {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.take-action-section {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.newsletter-section {}
